/*
 * @author:李霆;
 * @update:2018/05/18
 * 
 */

/*page2*/
*{
	color: #666666;
}
p{
	margin: 0;
	padding: 0;
}
.pageImg {
	position: relative;
	float: left;
	width: 380px;
	height: auto;
	margin-top: 0;
	margin-left: -100px;
	transform: scale(0);
	transition: all .3s ease-in-out;
}

ul.pageImg-nav {
	list-style: none;
	display: block;
	position: relative;
	top: 0px;
	left: 50px;
	padding: 60px 0 60px 0;
	background: url(../images/shad2.png) no-repeat;
	-webkit-background-size: 50% 100%;
}

ul.pageImg-nav li {
	margin: 5px 0 0 0;
}
.contain  .pageShow{
	float: left;
}
ul.pageImg-nav li a {
	-webkit-transition: all 0.3s ease-out;
	background: #cbcbcb url(../images/border.png) no-repeat;
	color: #174867;
	padding: 7px 15px 7px 15px;
	-webkit-border-top-right-radius: 10px;
 	-webkit-border-bottom-right-radius: 10px;
	width: 150px;
	display: block;
	text-decoration: none;
	-webkit-box-shadow: 2px 2px 4px #888;
	transition: all .3s ease-in-out;
}
ul.pageImg-nav li.show a{
	background: #ebebeb url(../images/border.png) no-repeat;
	color: #999;
	width: 180px;
	padding: 7px 15px 7px 30px;
	transition: all .3s ease-in-out;
}
ul.pageImg-nav li a:hover {
	background: #ebebeb url(../images/border.png) no-repeat;
	color: #999;
	width: 180px;
	padding: 7px 15px 7px 30px;
	transition: all .3s ease-in-out;
}
.pageT-warpper{
	position: relative;
	float: right;
	margin-right: -140px;
	width: 780px;
	margin-top: 20vh;
	border-radius:10px ;
	box-shadow:10px 10px 20px #666;
	transition: all .3s ease-in-out;
	background: rgba(0,0,0,.3);
}
.pageShow.pageT-warpper{
	width: 800px;
	height: 60vh;
	margin-right:40px;
	transition: all .3s ease-in;
	overflow: hidden;
}
.pageShow.pageImg{
	transform: scale(1);
	margin-left:0px;
	width: 300px;
	margin-top:20vh ;
	transition: all .3s ease-in;
}
.pageT-warpper ol li{
	opacity: 0;
	transform: scale(0);
	transform: rotate(360deg);
	position: absolute;
	transform: rotate(0deg);
	width: 100%;
	height: 100px;
	transition: all .5s ease-in;
}
.pageT-warpper ol li.show{
	transform: scale(1);
	transform: rotate(360deg);
	opacity: 1;
	transition: all .5s ease-in;
}
.pageT-warpper ol li.showPage{
	transform: scale(1);
	transform: rotate(360deg);
	opacity: 1;
	transition: all .1s ease-in-out;
}
.pageT-warpper ol li.showPage .imgs.actImg{
	transform: scale(1);
	transition: all .5s ease-in;
}
.pageT-warpper ol li.show .imgs.actImg{
	transform: scale(1);
	transition: all .5s ease-in;
}
.pageT-warpper ol li>div{
	position: absolute;
	box-sizing: border-box;
	padding: 5px;
	border-radius: 10px;
	width: 96%;
	margin-left: 2%;
	margin-top: 2.5vh;
	height:55vh ;	
}
.pageT-warpper ol li img{
	border-radius: 5px;
	float: left;
	width: 100%;
	border-radius: 50%;
	box-shadow: 0 0 10px #000;
	height:100%;
}
.pageT-warpper ol li>div .imgs{
	transform: scale(.3);
	width: 330px;
	height: 330px;
	vertical-align: top;
	margin-top: 5vh;
	float: left;
	padding: 5px;
	border-radius: 50%;
	border:1px solid #ccc ;
	overflow: hidden;

	transition: all .5s ease-in;
}
.pageT-warpper ol li.show>div .texts{
	width: 55%;
	opacity: 1;
	transition: all .5s ease-in;
}
.pageT-warpper ol li.showPage>div .texts{
	width: 55%;
	opacity: 1;
	transform-origin: top;
	transform: scale(1);
}
.pageT-warpper ol li>div .texts{
	transform: scale(0);
	transform-origin: top;
	opacity: 0;
	padding: 10px;
	float: right;
	width: 0%;
	color: #FFFFFF;
	transition: all .5s ease-in;
}
.pageT-warpper ol li.show>div .texts.actTxt{
	transform: scale(1);
	transform-origin: top;
	transition: all .5s ease-in;
}
.pageT-warpper ol li.showPage>div .texts.actTxt{
	transform: rotate(360deg);
	transition: all .3s ease-in;
}
.pageT-warpper ol li>div .texts h6{
	text-align: center;
	font-weight: normal;
	font-size: 16px;
}
.pageT-warpper ol li>div .texts p{
	text-align: justify;
	text-indent: 25px;
	font-size: 14px;
	color: #ffffff;
	margin-top: 5px;
}
/*page3*/
.pageS ul li{
	opacity: 0;
	width: 0;
	height: 0;
	transform:rotate(-360deg);
	transition: all .8s ease-in;
	overflow: hidden;
}
.pageS.show ul li{
	opacity: 1;
	float: left;
	transform: rotate(0deg);
	width: 30%;
	margin: 0 1.6%;
	height: 70vh;
	margin-top: 15vh;
	transition: all .8s ease-in;
}
.pageS.show ul li p{
	
}
.pageS li img{
	width: 100%;
	height: 50vh;
	margin-bottom: 10px;
}
.pageS p{
	text-indent: 15px;
	padding:5px 10px;
	color: #fff;
	font-size: 14px;
	text-align: justify;
}

